name: Deploy Entrainement CQP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Sync files to server using rsync
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -p 22 ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

          rsync -avz --delete -e "ssh -i ~/.ssh/id_rsa -p 22" ./ ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/root/aydev/entrainement-cqp
